body, #root, .App{
  background: #f0e247;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0;
  width: 100%;
  margin: 0;
}
.loginApp{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.loginApp input{
  width: 40%;
  background: transparent;
  outline: none;
  border: 2px solid gray;
  border-radius: 5px;
  height: 4%;
  font-size: 22px;
  padding: 0 5px;
  box-shadow: 0 0 2px black;
}
.loginApp button{
  background: gray;
  position: absolute;
  right: 29.7%;
  height: 4.3%;
  border: 2px solid gray;
  color: white;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  font-size: 23px;
  width: 7%;
  outline: none;
  font-family: montserrat;
  font-weight: 500;
}
.fotgotPass{
  font-size: 40px;
    color: #444;
    text-shadow: 0 0 2px black;
}